@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

$atmosphere-width-max: 100rem;
$atmosphere-width-min: 90%;
$atmosphere-grid-min: 19rem;
$atmosphere-grid-max: 22rem;

.atmosphere {
  display: grid;
  row-gap: $spacing-3xl;
  width: min($atmosphere-width-min, $atmosphere-width-max);
  padding: clamp(0rem, calc(1300px - 100vw), 4rem);
}

.atmosphere__heading {
  font-family: $font-family-heading;
  font-size: $font-size-4xl;
  font-weight: $font-weight-medium;
  color: $color-cream;
  text-align: center;
}

.atmosphere__grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax($atmosphere-grid-min, $atmosphere-grid-max)
  );
  place-content: center;
  gap: $spacing-4xl;
  padding-inline: $spacing-lg;
}
